body {
  background-image: url(../_imagens/fundo2.gif);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
}

.pagina {
  background-color: #000000;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2%;
  border: 2px solid #00eeff;

}

nav {
  display: block;
  text-transform: uppercase;
  
}

nav ul {
  list-style: none;
  text-transform: uppercase;
}

nav li {
  display: inline-block;
  background-color: #000000;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
  border: 1px solid #00eeff;
}

nav li:hover {
  background-color: #ff9100;
}


nav a {
  color: #606060;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  color: #ff9100;
  text-align: left;
}

img {
  height: 50px;
}


input[type=submit],
input[type=reset]{
    display: block;
    background-color: #00eeff;
    height: 50px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;

}


label {
  font-weight: bold;
  display: block; 
  margin-bottom: 8px;
  color: #ff9100;
}


input[type="text"],
input[type="email"],
textarea {
  width: 60%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #00eeff;
  border-radius: 20px;
  font-size: 16px;
}

footer {
  background-color: #000000;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2%;
  color: #606060;
  opacity: 50%;
  
}

footer a {
  color: #ff9100;
  opacity: 70%;
  text-decoration: none;
}
